aiopg
asyncpg
py-postgresql
psycopg2-binary
git+https://github.com/psycopg/psycopg/@wait-select#egg=psycopg&subdirectory=psycopg
git+https://github.com/psycopg/psycopg/@wait-select#egg=psycopg-c&subdirectory=psycopg_c
numpy
uvloop
